:root {
    --main-font-family: "Playwrite CU", cursive;
    --main-bg-color: #7C93C3;
    --main-font-color: #2d385c;
    --highlight-color: #1E2A5E;
    --card-bg-color: #E1D7B7;
    --hover-bg-color: #e6d089;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font-family);
}

h1, h2 {
    color: var(--highlight-color);
    margin: 2rem 0;
}

h1 {
    text-align: center;
}

p {
    line-height: 2rem;
}

ul, ol {
    line-height: 2rem;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    gap: 30px;
}

.recipe {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
}

.recipe-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.main-container p {
    padding: 10px;
}

.main-container a {
    display: block;
    padding: 10px;
}

.main-container > img {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.back-button {
    display: block;
    margin: 30px auto;
    color: var(--main-bg-color);
    background-color: var(--card-bg-color);
    text-align: center;
    text-decoration: none;
    width: 100px;
    border-radius: 5px;
}

.back-button:hover {
    color: var(--main-font-color);
    background-color: var(--hover-bg-color);
}

@media (min-width: 600px) {
    .main-container {
        width: 60%;
        margin: 0 auto;
    }
}